
@{
    ViewData["Title"] = "Index";
}
<img style="width: 100%;" src="~/./img/energy.jpg" alt="">
<div class="back">

    <a href="./index.html">Home</a>

</div>
<div class="container">
    <div>
        <h1>Energy Consumption Tracker</h1>

        <div id="energyData"></div>

    </div>


</div>
